{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <h1>BIBLIOTECA PARTE 3 </h1>

    <p> <h1>BIENVENIDO {{user}}</h1></p>
    <p> POR FABOR SELECCIONA TU SUCURSAL:</p>
    {% for library in library_list %}
        <p> <a href="{{ library.get_absolute_url }}" onclick="Guardar({{ library.pk }})"> {{library}}</a></p>
     {% endfor %}  
<script>
    function Guardar(_id){
        localStorage.setItem('id',_id);
    }
</script>
    <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    </ul>
    
    
    
    has visitado esta pagina {{ num_visits }}  veses.
</div>

{% endblock %}