
{% extends "base_generic.html" %}

{% load static %}
{% block title %}Perfil{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="row">
            <!-- Previa del avatar -->
            <div class="col-md-2">
              {% if request.user.profile.image %}
                <img src="{{request.user.profile.image.url}}" class="img-fluid">
              {% endif %}
            </div>
            <!-- Formulario -->
            <div class="col-md-10">
              <h3>Perfil</h3>
              <input type="file" name="image" class="form-control-file mt-3" id="id_image">
              {{ form.cui }}
              {{ form.direccion }}
              {{ form.zona }}
              {{ form.date_of_birth }}
              {{ form.departamento }}
              {{ form.municipio }}
              {{ form.escolaridad }}
              {{ form.genre }}
              {{ form.colegio }}
              <input type="submit" class="btn btn-primary btn-block mt-3" value="Actualizar">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}